In [32]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json
from pathlib import Path
from types import SimpleNamespace

calc_dir = Path.cwd().joinpath('../calcs')

In [27]:
def parse_path(p):
    atom, code = p.stem.split('_')
    return atom, bool(int(code[0])), bool(int(code[1])), bool(int(code[2]))

In [54]:
table = []
for output in calc_dir.glob('*.json'):
    atom, has_nuc, has_coul, has_xc = parse_path(output)
    with output.open() as f:
        j = json.load(f, object_hook=lambda x: SimpleNamespace(**x))
        if not j.output.success: print('Job failed: ', output.stem)
        
    e = j.output.properties.scf_energy.E_tot
    table.append((atom, has_nuc, has_coul, has_xc, e))
    
df = pd.DataFrame(table, columns=['Element', 'include_nuclear', 'include_coulomb', 'include_xc', 'Total_Energy']).sort_values(by=['Element', 'include_nuclear', 'include_coulomb', 'include_xc']).reset_index(drop=True)

In [56]:
df

   Element  include_nuclear  include_coulomb  include_xc  Total_Energy
0       Ar            False            False        True   -527.429994
1       Ar            False             True       False   -526.661287
2       Ar            False             True        True   -526.744922
3       Ar             True            False       False   -530.833783
4       Ar             True            False        True   -530.919215
5       Ar             True             True       False   -530.139527
6       Ar             True             True        True   -530.224735
7       He            False            False        True     -2.892991
8       He            False             True       False     -2.892772
9       He            False             True        True     -2.892828
10      He             True            False       False     -2.893226
11      He             True            False        True     -2.893282
12      He             True             True       False     -2.893063
13      He             True             True        True     -2.893119
14      Kr            False            False        True  -2754.231516
15      Kr            False             True       False  -2743.913933
16      Kr            False             True        True  -2744.723768
17      Kr             True            False       False  -2819.164894
18      Kr             True            False        True  -2820.035684
19      Kr             True             True       False  -2809.210539
20      Kr             True             True        True  -2810.075235
21      Ne            False            False        True   -128.878169
22      Ne            False             True       False   -128.793253
23      Ne            False             True        True   -128.805001
24      Ne             True            False       False   -129.151086
25      Ne             True            False        True   -129.162941
26      Ne             True             True       False   -129.077533
27      Ne             True             True        True   -129.089374
28      Xe            False            False        True  -7237.304858
29      Xe            False             True       False  -7190.649371
30      Xe            False             True        True  -7193.697497
31      Xe             True            False       False  -7609.469177
32      Xe             True            False        True  -7613.023374
33      Xe             True             True       False  -7561.390280
34      Xe             True             True        True  -7564.899013